<div class="w-full py-10 gap-5 px-10 bg-base-200 h-full flex flex-col justify-center">
    <h1 class="text-center text-4xl text-slate-600 font-bold">Gestionnaire des départements</h1>
        <div class="flex col-span-2 py-10 max-h-full flex-col border-2 rounded-3xl bg-base-100 ">
            <div class="overflow-y-auto">
                <table class="table table-xs text-center border-2">
                    <thead class="border-2">
                        <tr>
                            <th>Nom</th>
                            <th>Chef de département</th>
                            <th>employés</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="font-bold text-lg">
                        <% departments.forEach(dep => { %>
                            <tr>
                                <td><%= dep.label%></td>
                                <td>---------</td>
                                <td><%= (dep.employees).length %></td>
                                <td>
                                    <div class="flex justify-center gap-2">
                                        <button class="btn btn-xs btn-warning btn-outline hover:!text-white">
                                            Modifier
                                        </button>
                                        <form action="/deps/remove" method="post">
                                            <input type="text" name="id" class="hidden" value="<%=dep.id%>">
                                            <button class="btn btn-xs btn-error btn-outline hover:!text-white">
                                                Supprimer
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div class="w-full flex justify-center mt-10">
                    <button class="btn btn-sm btn-wide btn-success btn-outline"
                        onclick="toggleCreateDepsForm()"
                    >
                        Créer un nouveau département
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-full h-full absolute top-0 left-0 bg-slate-700/40 flex justify-center items-center hidden"
    id="createDepartment"
>
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body items-center text-center gap-5">
            <h1 class="card-title">Créer un nouveau département</h1>
            <form action="/deps/create" method="post" class="flex flex-col gap-5">
                <div>
                    <label for="label">Intitulé du département</label>
                    <input type="text" name="label" id="label" class="input input-bordered w-full input-sm" />
                </div>
                <div>
                    <label for="chef">Chef du département</label>
                    <select id="chef" class="select select-bordered w-full select-sm" name="chef">
                        <option disabled selected>choisissez le chef du dep</option>
                        <% employeesForChefDepartment.map(employee=> { %>
                            <option value="<%=employee.matricule%>">
                                <%=employee.user.firstName%>
                                    <%=employee.user.lastName%>
                            </option>
                        <% }) %>
                    </select>
                </div>
                <div class="w-full">
                    <label for="employees">
                        Employés
                    </label>
                    <div class="w-full">
                        <div class="base">
                            <div class="container">
                                <div class="text">
                                
                                </div>
                            </div>
                            <div class="arrow">
                                <i class="fa-solid fa-chevron-down hoverPointer" onclick="toggleMenu()"></i>
                            </div>
                        </div>
                        <div class="menu" id="menu">
                            <% employees.map(employee => { %>
                                <div class="menuEntry">
                                    <p><%=employee.user.firstName%> <%=employee.user.lastName%></p>
                                    <input type="text" value="<%=employee.matricule%>" class="hidden">
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div class="card-actions justify-center gap-5 mt-5">
                    <button type="reset" class="btn btn-outline btn-sm w-32 btn-error"
                        onclick="toggleCreateDepsForm()"
                    >Annuler</button>
                    <button type="submit" class="btn btn-outline btn-sm w-32 btn-success">Créer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="js/handleDepartments.js"></script>
<script src="js/select.js"></script>