<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>
        Créer une nouvelle tache
    </h1>
    <div>
        <% tasks.forEach(task => { %>
            <div  style="display: flex; gap:5px;">
                <p><%= task.label %></p>
                <% task.employees.forEach(employee => { %>
                    <p><%= employee.user.firstName %> <%= employee.user.lastName %></p>
                <% }) %>
                <p style="color: red;"><%= task.description %></p>
                <form method="post" action="/task/delete">
                    <input style="display: none;" type="text" name="taskId" value="<%= task.id %>">
                    <button type="submit">
                        supprimer
                    </button>
                </form>
            </div>
        <% }) %>
    </div>
    <form method="post" action="/task/create">
        
        <label for="taskLabel">
            Task Label
        </label>
        <input type="text" id="taskLabel" name="label" >

        <label for="description">
            Description
        </label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>

        <select name="employees" id="employees" multiple>
            <% employees.map(employee => { %>
                <option value="<%=employee.matricule%>"> <%=employee.user.firstName%> <%=employee.user.lastName%> </option>
                <option value="1">abc</option>
                <option value="12">asddas</option>
                <option value="123">vxczvz</option>
                <option value="1234">yerty</option>
            <% }) %>
        </select>

        <button type="submit">Créer</button>
    </form>

    <script>
        new MultiSelectTag('employees')  // id
    </script>
</body>
</html>